// COLORS
$primary-color: #FF8008;
$secondary-color: #FFC837;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #67a173; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
